:root {
--font-size-s: 16px;
--font-size-m: 22px;
--font-size-l: 30px;

--page-padding-s: 1rem;
--page-padding-m: 2rem;
--page-padding-l: 3rem;

  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--font-size-s);
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
}

main {
  padding: var(--page-padding-s);
}

p {
  line-height: 1.4;
  margin-bottom: calc(1.4 * 1em);
}

:is(h1,h2,h3,h4) + :is(h1,h2,h3,h4,p) {
  margin-top: calc(1.4 * 1em);
}

.content-block {
  max-width: 36em;
}

@media (min-width: 500px) {
  :root {
    font-size: var(--font-size-m);
  }
  main {
    padding: var(--page-padding-m);
  }
}

@media (min-width: calc(36 * 20px + 3rem * 2)) {
  :root {
    font-size: var(--font-size-l);
  }
  main {
    padding: var(--page-padding-l);
  }
}

/* min-width: calc(36 * 16px + 2rem * 2) */

a {
  background-color: powderblue;
  transition: background-color .5s;
}

a:hover {
  background-color: gold;
}

:is(pre, code) {
  background-color:lightgray;
}

.nav-bar {
  /* background-color: #300CF9; */
  width: 100%;
  font-size: 20px;
  padding: 5px;
  /* position: fixed; */
  top: 15px;
}

.nav-bar ul li {
  display: inline;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.site-logo-img {
  width: 50px;
}

.inline-img {
  width: 200px;
  float:inherit;
}

img {
  max-width: 100%;
}