:root {
--font-size-s: 16px;
--font-size-m: 22px;
--font-size-l: 30px;

--page-padding-s: 1rem;
--page-padding-m: 2rem;
--page-padding-l: 3rem;

  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--font-size-s);
  /* background-color:indigo;
  color:aquamarine; */
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
}

main {
  padding: var(--page-padding-s);
}

p {
  line-height: 1.4;
  margin-bottom: calc(1.4 * 1em);
}

:is(h1,h2,h3,h4) + :is(h1,h2,h3,h4,p) {
  margin-top: calc(1.4 * 1em);
}

.content-block {
  max-width: 36em;
}

@media (min-width: 500px) {
  :root {
    font-size: var(--font-size-m);
  }
  main {
    padding: var(--page-padding-m);
  }
}

@media (min-width: calc(36 * 20px + 3rem * 2)) {
  :root {
    font-size: var(--font-size-l);
  }
  main {
    padding: var(--page-padding-l);
  }
}

/* min-width: calc(36 * 16px + 2rem * 2) */

a {
  background-color: powderblue;
  transition: background-color .5s;
}

a:hover {
  background-color: gold;
}

:is(pre, code) {
  background-color:lightgray;
}

.nav-bar {
  /* background-color: #300CF9; */
  width: 100%;
  font-size: 20px;
  padding: 5px;
  /* position: fixed; */
  top: 15px;
}

.nav-bar ul li {
  display: inline;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.site-logo-img {
  width: 50px;
}

.inline-img {
  width: 200px;
  float:inline-end;
}

img {
  max-width: 100%;
}

.this-is-a-grid-container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.d1 {background-color:ivory;}
.d2 {background-color:khaki;}
.d3 {background-color:lavender;}
.d4 {background-color:lavenderblush;}
.d5 {background-color:lawngreen;}
.d6 {background-color:lemonchiffon;}
.d7 {background-color:lightcoral;}
.d8 {background-color:lightcyan;}

.this-is-another-grid-container {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  border:5px solid tomato;
}

.a1 {background-color:ivory;}
.a2 {background-color:khaki;}
.a3 {background-color:lavender;}
.a4 {background-color:lavenderblush;}
.a5 {background-color:lawngreen;}
.a6 {background-color:lemonchiffon;}
.a7 {background-color:lightcoral;}
.a8 {background-color:lightcyan;}

.this-is-a-grid-for-april {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.b1 {background-color:darkgrey;}
.b2 {background-color:darkolivegreen;}
.b3 {background-color:chartreuse;}
.b4 {background-color:darkorange;}
.b5 {background-color:darkorchid;}
.b6 {background-color:deeppink;}
.b7 {background-color:lavenderblush;}
.b8 {background-color:yellow;}


.flex-container-april{
  display: flex;
  flex-direction:column;
}

.c1{ background-color:brown }
.c2{ background-color:crimson }
.c3{ background-color:darkred }
.c4{ background-color:coral }
.c5{ background-color:darkorange }
.c6{ background-color:firebrick }