body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

.header-image {
    width: 100px;
}

.text-and-image {
    display: flex;
    flex-direction: column;
    /* border: 5px solid #FC2BF2; */
    width: 300px;
    flex-wrap: wrap;
    height: 2100px;
}

.container-for-flexbox {
    /* border: 3px solid #FE221E; */
}

.sayounara-image {
    width: 200px;
}

img {
    max-width: 100%;
    color:
}

h3{
    font-size: 40px;
}
